<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <title>アズトレデータベース</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <h1>アズトレデータベース</h1>
        <form method="post" action="{{ url_for('register') }}">
        <table>
            <tr>
                <th>id</th>
                <th>タイトル</th>
                <th>関節</th>
                <th>レベル</th>
            </tr>
            <tr>
                <td><input type="text" name="id"></td>
                <td><input type="text" name="title"></td>
                <td><input type="text" name="joint"></td>
                <td><input type="text" name="level"></td>
            </tr>
        </table>
        <input type="submit" value="登録">
        <a href="{{ url_for('index') }}"><button>戻る</button></a>
    </body>
</html>

