<!DOCTYPE html>
<html lang="ja">
        
    <head>
        <meta charset="UTF-8">
        <title>アズトレデータベース</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <h1>アズトレデータベース</h1>
        <h2>トレーニングの説明</h2>
        <table class="my-table" border="1"> <!-- クラスを追加 -->
            <tr>
                <th>id</th>
                <th>タイトル</th>
                <th>関節</th>
                <th>レベル</th>
            </tr>
            {% for book in books %}
                <tr>
                    <td>{{book.id}}</td>
                    <td>{{book.title}}</td>
                    <td>{{book.joint}}</td>
                    <td>{{book.level}}</td>
                </tr>
            {% endfor %}
        </table>
        <div class="button-container">
            <a href="{{ url_for('form') }}" class="edit-button">編集</a>
        </div>
        
    </body>
</html>

